#naslovna {
	background: url(/../img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    img {
        max-height: 250px;
    }
}

.hr-danger {
	background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

.hr-red {
	background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(244,67,54,.6));
}

hr {
  height: 4px;
  margin-left: 15px;
  margin-bottom:-3px;
}

.list-group {
	.list-group-item {
	background:transparent;
	border:none;
	}
}

footer {
	font-size:0.8rem;
}
